:root {
  /* color */
  --smoke-white: #fefefe;
  --ghost-white: #f6f5f7;
  --platinum: #ededef;
  --dark-blue: #243552;
  --shadow-blue: #334965;
  --royal-blue: #0153bc;
  --steel-blue: #2261a5;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 1.375rem;
}

h2 {
  font-size: 2rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  width: 100%;
  height: 100vh;
  padding-top: 70px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 1000;
  background: var(--smoke-white);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 50px;
  height: auto;
}

.menu-header {
  display: flex;
  gap: 10px;
  cursor: pointer;
  font-weight: bold;
  color: var(--dark-blue);
}

/* hero */
.hero-content {
  background-image: linear-gradient(
      rgba(42, 71, 122, 0.76),
      rgba(192, 193, 196, 0)
    ),
    url("../images/hero-image.jpg");
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  height: 30vh;
}

.hero-content h1 {
  margin-top: 30px;
  text-transform: uppercase;
  color: var(--ghost-white);
}

.hero-content span {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--platinum);
}

/* buttons */
.hero-buttons {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.hero-buttons a {
  padding: 10px 30px;
  border-radius: 4px;
  font-weight: 400;
  transition: 0.3s;
}

.hero-buttons a:first-child {
  background: var(--royal-blue);
  color: var(--ghost-white);
}

.hero-buttons a:last-child {
  background: var(--ghost-white);
  color: var(--royal-blue);
}

.hero-buttons a:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

/* hero - stats-bar */
.stats-bar {
  background: var(--platinum);
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
}

.stats-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.stats-item svg {
  width: 22px;
  height: auto;
  color: var(--dark-blue);
}

.stats-item span {
  color: var(--royal-blue);
  font-size: 1rem;
  font-weight: bold;
}

.stats-item p {
  color: var(--dark-blue);
  font-size: 0.75rem;
}

.border-item {
  border-left: 1px solid var(--shadow-blue);
}

.reform-content {
  background: #021d3f;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  text-align: center;
}

.reform-content div:first-child {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  text-align: center;
  color: var(--ghost-white);
}

.reform-content div p {
  line-height: 1.2;
}

.button-contact {
  margin: 10px auto;
  background-color: #e67e22;
  text-transform: uppercase;
  padding: 20px 40px;
  border-radius: 4px;
  transition: 0.3s;
}

.button-contact:hover {
  transform: translateY(-2px);
}

.reform-content-img {
  max-width: 400px;
  border-radius: 4px;
  box-shadow: 10px 10px 0px #e67e22;
}

.services {
  text-align: center;
  margin: 0 auto;
}

.services-content {
  margin: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: var(--smoke-white);
}

.services-content span {
  text-transform: uppercase;
  color: #e67e22;
  font-weight: bolder;
  font-size: 1.2rem;
}

.services-content h2,
.services-content p {
  color: var(--dark-blue);
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 0 10px;
}

.services-card {
  padding: 40px 20px;
  border-bottom: 5px solid #e67e22;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  color: var(--dark-blue);
}

.services-card svg {
  width: 30px;
  height: auto;
  color: var(--dark-blue);
}

.services-card h3 {
  margin: 10px 0;
  text-transform: uppercase;
}

/* project */
.project {
  padding: 30px 0;
}

.project-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.project-content h2 {
  color: var(--dark-blue);
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card img {
  width: 170px;
  height: 150px;
  object-fit: cover;
}

.project-card span {
  width: 80%;
  text-align: center;
  color: var(--dark-blue);
  font-size: 14px;
}

.project-card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--royal-blue);
  border-radius: 8px;
  transition: 0.3s;
}

.project-card-button:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.project-card-button:active {
  transform: translateY(-2px) scale(0.98);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.project-button {
  margin: 10px auto;
  background-color: var(--royal-blue);
  color: var(--ghost-white);
  font-weight: 700;
  text-transform: capitalize;
  padding: 20px 40px;
  border-radius: 4px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--ghost-white);
  align-items: center;
  justify-content: center;
  z-index: 2000;
  display: none;
}
.modal-container {
  width: 95%;
  max-width: 1000px;
  max-height: 90vh;
  border-radius: 8px;
  position: relative;
  overflow-y: auto;
}

.modal-container h3 {
  color: var(--dark-blue);
  padding-left: 10px;
  margin-bottom: 10px;
}

.close-modal {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 1rem;
  border: none;
  background: #e67e22;
  cursor: pointer;
}

#modalProjectGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.modal-grid .project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.modal-grid .project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.modal-grid .project-card span {
  margin-top: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--dark-blue);
}

@media (max-width: 480px) {
  .modal-grid .project-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .project-card span {
    font-size: 0.85rem;
  }
}
